@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.fontStyle{
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;

}
.background{
    background-color: #9c507f !important;
}
.clour{
    color: white !important;
}
.bg-green {
	background-color: #9a124b;
    height: 80px !important;
    
}
.color-blue{
	background-color: #9a1278;

}
.color-blue:hover{
	background-color: #9a1283;

}
.border-green{
    border: 2px solid #9a1288;
    border-radius: 10px;
}

.selectedImg{
    border: 10px solid black;
}
.bg-img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.image-list-selected{
    border: 2px solid black;
}
.card-body{
    background-repeat: no-repeat !important;
    background-size:cover !important;
}
.card-body {
	position: relative;
	color: #333; /* Ensures text is readable */
}

.card-body .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6); /* White overlay with 60% opacity */
	z-index: 1;
}

.card-body .card-title,
.card-body .card-text {
	position: relative;
	z-index: 2; /* Place text above the overlay */
}
